﻿@model calendarwww.Controllers.CalendarInfo

@using calendarwww.Controllers;

@using libcalendarman;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}


<h2>Index</h2>

@using (Html.BeginForm("Index", "Settings", new { fd = Model.Date }, FormMethod.Post))
{
    
    @Html.CheckBox(SettingsInfo.HebrewHolidaysString, Model.Settings.HebrewHolidays); @SettingsInfo.HebrewHolidaysString<br /> 
    @Html.CheckBox(SettingsInfo.HebrewDatesString, Model.Settings.HebrewDates);  @SettingsInfo.HebrewDatesString<br />
    @Html.CheckBox(SettingsInfo.HebrewNamesString, Model.Settings.HebrewNames);  @SettingsInfo.HebrewNamesString<br />
    
    <br />
    @Html.CheckBox(SettingsInfo.GregorianDatesString, Model.Settings.GregorianDates); @SettingsInfo.GregorianDatesString<br />
    @Html.CheckBox(SettingsInfo.ChristianHolidaysString, Model.Settings.ChristianHolidays); @SettingsInfo.ChristianHolidaysString<br />
    @Html.CheckBox(SettingsInfo.USHolidaysString, Model.Settings.USHolidays); @SettingsInfo.USHolidaysString<br />
    
    <input type="submit" value="Submit" />
}
    

@section LeftContent
{
    @{ Html.RenderPartial("LeftContent", Model); }
}

