﻿@model calendarwww.Controllers.CalendarInfo
@using libcalendarman
@using calendarwww.Controllers


<div id="menucontainer">    
    <p>@Html.ActionLink("Day", "Detail", "Day", new { fd = Model.Date }, null)</p>
    <p>@Html.ActionLink("Gregorian", "Month", "Gregorian", new { fd = Model.Date }, null)</p>
    <p>@Html.ActionLink("Julian", "Month", "Julian", new { fd = Model.Date }, null)</p>
    <p>Hebrew</p>
    <p>@Html.ActionLink("Settings", "Index", "Settings", new { fd = Model.Date }, null)</p>
</div>



