<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Calendrical Odyssey: <asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>Calendrical Odyssey</h1>
            </div>
              
<%--            <div id="logindisplay">
                <% Html.RenderPartial("LogOnUserControl"); %>
            </div> 
--%>            
<%--            <div id="menucontainer">
                <ul id="menu">              
                    <li><%= Html.ActionLink("Home", "Index", "Home")%></li>
                    <li><%= Html.ActionLink("About", "About", "Home")%></li>
                </ul>            
            </div>
--%>
        </div>

        <div id="maincontainer">
            <div id="left">
                <asp:ContentPlaceHolder ID="LeftContent" runat="server" />
            </div>

            <div id="main">
                <asp:ContentPlaceHolder ID="MainContent" runat="server" />

                <div id="footer">
                </div>
            </div>
         </div>
    </div>
</body>
</html>
