﻿<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/Content/Site.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>Calendrical Odyssey</h1>
                @*@RenderSection("TitleContent", false)*@
            </div>
              
        </div>

        <div id="maincontainer">
            <div id="left">
                @*<asp:ContentPlaceHolder ID="LeftContent" runat="server" />*@
                @RenderSection("LeftContent", false)
            </div>

            <div id="main">
                @*<asp:ContentPlaceHolder ID="MainContent" runat="server" />*@
                @RenderBody()
                <div id="footer">
                </div>
            </div>
         </div>
    </div>
</body>
</html>
