﻿@model calendarwww.Controllers.CalendarInfo
@using libcalendarman;
@using calendarwww.Controllers;


@{
    ViewBag.Title = "Month";
    Layout = "~/Views/Shared/SiteLayout.cshtml";

    JulianDate refDate = new JulianDate(Model.Date);

    JulianDate firstOfMonth = new JulianDate(refDate.Year, refDate.Month, 1);
    JulianDate firstSunday = new JulianDate(
        DateUtils.WeekdayOnOrBefore(firstOfMonth.ToFixed(), Weekday.Sunday));
    JulianDate lastOfMonth = new JulianDate(refDate.Year, refDate.Month,
        GregorianDate.GetDaysInMonth(refDate.Year, refDate.Month));
    JulianDate lastSaturday = new JulianDate(
        DateUtils.WeekdayOnOrAfter(lastOfMonth.ToFixed(), Weekday.Saturday));
    
}

<div id="month">
    <h2>Julian Calendar: @refDate.Month @refDate.Year</h2>

    <table style="text-align:center">
        <tr>
        @foreach (string dow in GregorianDate.WeekdayNames)
        { 
            <td>@dow</td>                
        } 

        </tr>
        
        @{ 
            int fd = firstSunday.ToFixed();
            int weeks = (lastSaturday.ToFixed() - firstSunday.ToFixed() + 1) / 7;
        }

        @for (int week = 0; week < weeks; week++)
        { 
            <tr>
            @for (int dow = 0; dow < 7; dow++, fd++)
            {
                JulianDate today = new JulianDate(fd);
                
                <td>
                
                @if (today.Month != refDate.Month)
                {
                    @Html.ActionLink(String.Format("{0} {1}", JulianDate.Months[today.Month-1].Substring(0, 3), today.Day),
                        "Detail", "Day", new { fd = today.ToFixed() }, null);                    
                }
                else
                {
                    @Html.ActionLink(String.Format("{0}", today.Day ), "Detail", "Day",
                        new { fd = today.ToFixed() }, null );
                }

                @foreach (Event evt in Model.GetEvents(fd))
                {
                    <p>@evt.EventName</p>
                }
               
                </td>
            } 
                      
           </tr>
        }
    </table>

</div>



@section LeftContent
{
    @{ 
        Html.RenderPartial("LeftContent", Model);
     }
}
