﻿@model calendarwww.Controllers.CalendarInfo
@using libcalendarman;

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>ViewPage1</h2>

<p>Events for day @Model.Date.ToString("N0"):</p>

@foreach (Event evt in Model.Events)
{
    FixedDate evtFixedDate = evt.Type.DateCreate( evt.FixedDate );   
    
    <p>@Html.ActionLink(evt.Type.Category, "Category", "Event", new { category = evt.Type.Category }, null) 
       @Html.ActionLink(evt.Type.Name, "List", "Event", new { evt = evt.Type.Name, fd = Model.Date }, null)
       @Html.ActionLink(evtFixedDate.ToString(), "Detail", "Day", new { fd = evt.FixedDate }, null)
    </p>   
}

