﻿@model calendarwww.Controllers.CalendarInfo
@using libcalendarman;

@{
    ViewBag.Title = "Day";
    Layout = "~/Views/Shared/SiteLayout.cshtml";

    GregorianDate gd = new GregorianDate(Model.Date);
    ISODate isod = new ISODate(Model.Date);
    JulianDate jd = new JulianDate(Model.Date);
    RomanDate romand = new RomanDate(Model.Date);
    HebrewDate hd = new HebrewDate(Model.Date);
    IslamicDate id = new IslamicDate(Model.Date);
    EgyptianDate egd = new EgyptianDate(Model.Date);
    CopticDate cd = new CopticDate(Model.Date);
    ArmenianDate ad = new ArmenianDate(Model.Date);
    EthiopicDate ethd = new EthiopicDate(Model.Date);
}


<h2>Day @Model.Date.ToString("N0")</h2>
    <table>
        <tr>
            <th>Calendar</th>
            <th>Date</th>
            <th>Navigation</th>
        </tr>
        <tr>
            <td>Gregorian</td>
            <td>@Html.ActionLink(gd.ToString(), "Detail", "Gregorian", new { fd = Model.Date }, null)</td>
            <td>
                @Html.ActionLink("Previous Month", "Detail", new { fd = gd.PreviousMonth }, null)
                @Html.ActionLink("Next Month", "Detail", new { fd = gd.NextMonth }, null)
            </td>
        </tr>
        <tr>
            <td>ISO</td>
            <td>@isod.ToString()</td>
        </tr>
        <tr>
            <td>Julian</td>
            <td>@Html.ActionLink(jd.ToString(), "Detail", "Julian", new { fd = Model.Date }, null)</td>
            <td>
                @Html.ActionLink("Previous Month", "Detail", new { fd = jd.PreviousMonth }, null) 
                @Html.ActionLink("Next Month", "Detail", new { fd = jd.NextMonth }, null)
            </td>
        </tr>
        <tr>
            <td>JulianDate</td>
            <td>@jd.JulianDay.ToString("N1")</td>
        </tr>
        <tr>
            <td>Modified Julian Date</td>
            <td>@jd.ModifiedJulianDay.ToString("N0")</td>
        </tr>
        <tr>
            <td>Roman</td>
            <td>@romand.ToString()</td>
        </tr>
        <tr>
            <td>Hebrew</td>
            <td>@hd.ToString()</td>
        
        </tr>
        <tr>
            <td>Islamic</td>
            <td>@id.ToString()</td>
        </tr>
        <tr>
            <td>Egyptian</td>
            <td>@egd.ToString()</td>
        </tr>
        <tr>
            <td>Coptic</td>
            <td>@cd.ToString()</td>
        </tr>
        <tr>
            <td>Armenisan</td>
            <td>@ad.ToString()</td>
        </tr>
        <tr>
            <td>Ethiopic</td>
            <td>@ethd.ToString()</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                @Html.ActionLink("Last Week", "Detail", new { fd = Model.Date - 7 }, null) 
                @Html.ActionLink("Yesterday", "Detail", new { fd = Model.Date - 1 }, null)  
                @Html.ActionLink("Tomorrow", "Detail", new { fd = Model.Date + 1 }, null)  
                @Html.ActionLink("Next Week", "Detail", new { fd = Model.Date + 7 }, null)  
            </td>
        </tr>

        <tr>
            <td>Events</td>
            <td>
            @foreach (Event evt in Model.Events)
            {
                <p>@Html.ActionLink(evt.Type.Name, evt.Type.Name, "Event", new {fd = evt.FixedDate } )</p>
            }
            </td>
        </tr>
    </table>



@section LeftContent
{
    @{ Html.RenderPartial("LeftContent", Model); }
}

