﻿@model calendarwww.Controllers.CalendarInfo

@using libcalendarman;
@using calendarwww.Controllers;


@{
    GregorianDate refDate = new GregorianDate(Model.Date);
    GregorianDate firstOfMonth = new GregorianDate(refDate.Year, refDate.Month, 1);
    GregorianDate firstSunday = new GregorianDate(
        DateUtils.WeekdayOnOrBefore(firstOfMonth.ToFixed(), Weekday.Sunday));
    GregorianDate lastOfMonth = new GregorianDate(refDate.Year, refDate.Month,
        GregorianDate.GetDaysInMonth(refDate.Year, refDate.Month));
    GregorianDate lastSaturday = new GregorianDate(
        DateUtils.WeekdayOnOrAfter(lastOfMonth.ToFixed(), Weekday.Saturday));

    int fd = firstSunday.ToFixed();
    int weeks = (lastSaturday.ToFixed() - firstSunday.ToFixed() + 1) / 7;        
}


<div id="month">
    <table>
        <tr>
            <th colspan="7"> @Html.ActionLink(GregorianDate.MonthNames[refDate.Month-1], "Month", "Gregorian", new { fd = firstOfMonth.ToFixed() }, null) </th>
         </tr>

        @for (int week = 0; week < weeks; week++) 
        { 
            <tr>
            @for (int dow = 0; dow < 7; dow++, fd++)
            {
                GregorianDate today = new GregorianDate(fd);

                <td>
                @if (today.Month == refDate.Month)
                {
                    @Html.ActionLink(String.Format("{0}", today.Day ), "Detail", "Day",
                        new { fd = today.ToFixed() }, null )
                }                
                </td>
            
            } 
                               
            </tr>
        }
    </table>
</div>


