﻿@model calendarwww.Controllers.CalendarInfo
@using calendarwww.Controllers;
@using libcalendarman;

@{
    ViewBag.Title = "Month";
    Layout = "~/Views/Shared/SiteLayout.cshtml";

    GregorianDate refDate = new GregorianDate(Model.Date);
        
    GregorianDate firstOfMonth = new GregorianDate(refDate.Year, refDate.Month, 1);
    GregorianDate firstSunday = new GregorianDate(
        DateUtils.WeekdayOnOrBefore(firstOfMonth.ToFixed(), Weekday.Sunday));
    GregorianDate lastOfMonth = new GregorianDate(refDate.Year, refDate.Month,
        GregorianDate.GetDaysInMonth(refDate.Year, refDate.Month) );
    GregorianDate lastSaturday = new GregorianDate(
        DateUtils.WeekdayOnOrAfter(lastOfMonth.ToFixed(), Weekday.Saturday));
}

<div id="month">
    <h2>Gregorian Calendar: @GregorianDate.MonthNames[@refDate.Month-1]
        @Html.ActionLink(refDate.Year.ToString(), "Year", "Gregorian", new { fd = refDate.ToFixed() }, null)
    </h2>

    <table>
          
        <tr>
        @foreach (string dow in GregorianDate.WeekdayNames)
        { 
            <th>@dow</th>
        } 
        </tr>
            
        
        @{ 
            int fd = firstSunday.ToFixed();
            int weeks = (lastSaturday.ToFixed() - firstSunday.ToFixed() + 1) / 7;
        }


        @for (int week = 0; week < weeks; week++)
        { 
            <tr>
            @for (int dow = 0; dow < 7; dow++, fd++)
            {
                GregorianDate today = new GregorianDate(fd);
                <td>

                @if (today.Month == refDate.Month)
                {
                    @Html.ActionLink(today.Day.ToString(), "Detail", "Day", new { fd = today.ToFixed() }, null)<br />

                    if (Model.Settings.HebrewDates)
                    {
                        HebrewDate hd = new HebrewDate(today.ToFixed());
                        @*@Html.ActionLink(String.Format("{0} {1}", Model.Settings.HebrewNames ? hd.HebrewMonthName: hd.MonthName, hd.Day), 
                            "Month", "Hebrew", new { fd = today.ToFixed() }, null)<br />*@
                    }

@*                    foreach (Event e in Model.GetEvents(fd))
                    {
                        @e.Type.Name<br />
                    }
*@
                }
                </td>
            }                   
            </tr>
        }
    </table>
</div>





@*@section TitleContent
{
    @{ GregorianDate gd = new GregorianDate(refDate); }
	<h1>Gregorian Calendar: @gd.MonthName @gd.Year</h1>
}
*@


@section LeftContent
{
    @{ 
        GregorianDate gd = new GregorianDate(refDate.ToFixed());
        CalendarInfo ci = new CalendarInfo(gd.ToFixed());
        Html.RenderPartial("LeftContent", ci);
    }

}

