﻿@model calendarwww.Controllers.CalendarInfo

@using libcalendarman;
@using calendarwww.Controllers;

@{
    ViewBag.Title = "Year";
    Layout = "~/Views/Shared/SiteLayout.cshtml";

    GregorianDate refDate = new GregorianDate(Model.Date);    
}


@*Now print out the months for the entire year.*@
<div id="minimonthcontainer">
    <table>
        @for (int j = 1; j <= 12; j += 4) 
        {
            <tr>
                @for (int i = 0; i < 4; i++)
                {
                    GregorianDate gd = new GregorianDate(refDate.Year, j + i, 1);
                    CalendarInfo ci = new CalendarInfo(gd.ToFixed());
                    <td>
                        @{ Html.RenderPartial("MonthPartial", (object)ci); }
                    </td>
                }
            </tr>
        }
    </table>
</div>



@section LeftContent
{
    @{ 
        //GregorianDate gd = new GregorianDate(refDate);
        CalendarInfo ci = new CalendarInfo(refDate);
        Html.RenderPartial("LeftContent", ci);
    }

}

