﻿body 
{
    font-family: Verdana, Helvetica, Sans-Serif;
}


div#month h2
{
    text-align: center;
}

div#month table
{
    border: 1px solid Navy;    
    border-collapse: collapse;
    margin: auto;
}


div#month table tr
{
    border-top: 1px;
    border-bottom: 1px;
    vertical-align: top;
}


div#month table tr th
{
    border: 1px solid Navy;
}


div#month table tr td
{
    border: 1px solid Navy;
    text-align: center;
    vertical-align: top;
}


a
{
    text-decoration: none;
}


a:selected
{
    text-decoration: none;
}


div#minimonthcontainer table
{
    border:none;
    
}


div#minimonthcontainer table tr
{
    border: none;
    /*vertical-align: top;*/
}

div#minimonthcontainer table tr td 
{
    border: none;
    vertical-align: top;
}


/*
div#minimonth table
{
    border: 1px solid Navy;
    border-collapse: collapse;
}

div#minimonth table th
{
    border: 1px solid Navy;
}

div#minimonth table th td, div#minimonth table tr td
{
    border-left: 1px solid Navy;
    border-right: 1px solid Navy;
    border-collapse: collapse;    
}
*/

/*
table.minimonth
{
    border: 1px solid Navy;
}

th.minimonth
{
    border-bottom: 1px solid Navy;
}

td.minimonth
{
    border-left: 1px solid Navy;
    border-right: 1px solid Navy;
    border-collapse: collapse;
}

*/






#title
{
    border: 1px solid black;
}


#left
{
    position: absolute;
    width:200px;   
    border: 2px solid black;      
} 


 
#main
{
    position: absolute;
    border: 1px solid red;
    left: 210px;
}

#maincontainer
{
    
}




#menucontainer
{
    border: 1px solid pink;
    background: lightpink;
}




div#menucontainer p
{
    position: relative;
    left: 0;
    right: 0;
    line-height: 3.5em;
    border: 1px red solid;
    margin: 0;
}



